.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button type
.rounded {
    border-radius: 999px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: none rgb(255, 255, 255);
    outline: none;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 14px;
    padding: 0px 8px;
    min-width: 90px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1) 0s;
    transform-origin: right bottom;
    transform: none;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.primary {
    background-color: var(--primary);
    cursor: pointer;
    border-color: var(--primary);
    color: var(--white);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    cursor: pointer;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
